* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  margin-top: 100px;
  width: 900px;
  padding: 10px;
  border: 1px solid #385d8a;
}

.column {
  float: left;
  width: 25%;
  padding: 10px;
  height: 300px;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}
#btnLogout {
  background-color: #4f81bd;
  color: white;
  padding: 8px 30px;
  border: none;
  border-radius: 5px;
  margin-right: 15px;
}