*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
.component.container > div{
    margin: 20px 10px;
    box-sizing: border-box;
}
.component{
    margin: auto;
    width: 70% !important;
    margin-top: 50px;
    border: 1px solid #385d8a;
}

.component > form{
    margin: 30px 0px;
}
textarea {
    border: 1px solid #385d8a;
    background-color: #e1eaf4;
}
input, select{
    border: 1px solid #385d8a;
    background-color: #e1eaf4;
    width: 70%;
    padding: 5px 5px;
}

button{
    background-color: #4f81bd;
    color: black;
    border: none;
}

button.col-sm-3 {
    padding: 6px;
    margin-left: 10px;
    color: white;
}

.accept{
    text-align: center;
    margin-top: 20px;
    color: white;
}
.accept > button{
    border-radius: 8px;
    padding: 20px 20px;
    width: 20%;
    border: 3px solid #385d8a;
}
.lable-input{
    width: 85%;
    padding: 5px 5px;
    border: 1px solid #385d8a;
    background-color: #e1eaf4;
}

label.col-sm-8 {padding: 0px;}

.lable-input > div {
	padding: 10px 5px;
}

.content{
    padding: 5px 1px;
    color: black;
    background-color: #FFFFFF;
    text-align: left;
}

.component{
    margin: auto;
    width: 70% !important;
    margin-top: 50px;
    border: 1px solid #385d8a;
}

.component > form{
    margin: 30px 0px;
}
th,td{
    border-right: 1px solid black;
    padding: 5px 10px !important;
}
tr{
    border-bottom: 1px solid black;
}

.component.container > div{
    margin: 20px 10px;
    box-sizing: border-box;
}

tr > td:last-child > button{
    background-color: #4f81bd;
    color: black;
    padding: 5px 20px;
    border: none;
    margin-right: 10px;
}

.error {
    color: #FF0000;
    font-weight: bold;
}

.description {
    height: 100px;
    word-break: break-all;
    white-space: normal;
}

.avatar{
    border: 3px solid #385d8a;
    background-color: #4f81bd;
    height: 100px;
    color: white;
}

#avatar{
    width: 100%;
}
.image{
    width: 200px;
    height: 200px;
    margin-bottom: 2%;
}

a{
    font-style: italic;
    color: black !important;
    text-decoration-line: underline !important;
}
.browse {
    display: inline-block;
    background-color: #4f81bd;
    border: 1px solid #385d8a;
    cursor: pointer;
    text-align: center;
    padding: 5px 10px 5px 10px;
    color: white;
    max-width: 150% !important;
}
#upload{
        display: none !important;
}
.custombackhome{
    margin:10px 5px;
    display: flex;
    border-radius:8px;
}
.custombackhome>a{
    color:white !important;

}
