*{
    font-family: 'Times New Roman', Times, serif;
}
input{
    width: 85%;
    padding: 5px 5px;
    border: 1px solid #385d8a;
    background-color: #e1eaf4;
}
table{
    margin-top: 30px;
    border:1px solid black;
    width: 100%;
}
.content{
    position: relative;
    width: 80% !important;
    margin: auto;
    margin-top: 100px;
    border: 1px solid #385d8a;
}

th,td{
    border-right: 1px solid black;
    padding: 5px 10px !important;
}
tr{
    border-bottom: 1px solid black;
}
select{
    width: 85%;
    padding: 5px 5px;
    border: 1px solid #385d8a;
    background-color: #e1eaf4;
}
.filterbuilding{
    margin-bottom: 20px;
}
.content.container > div{
    margin: 20px 10px;
    box-sizing: border-box;
}
tr > td:last-child > button{
    background-color: #4f81bd;
    color: black;
    padding: 5px 20px;
    border: none;
    margin-right: 10px;
}

.filtervalue{
    border-radius: 8px;
    color: black;
    background-color: #4f81bd;
    padding: 7px 15px;
    text-align: center;
    border:none;
    width: 20%;
    margin-left: 115px;
}
.word{
    padding: 7px 10px;
    color: black;
    background-color: #FFFFFF;
    text-align: center;
}
