.container {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.section {
width: 600px;
display: flex;
justify-content: flex-start;
align-items: center;
margin-bottom: 40px;
}

.section>p {
width: 150px;
font-weight: bold;
}

.input-field {
display: flex;
}

.txt {
width: 400px;
height: 80px;
}

.image {
background-color: antiquewhite;
height: 200px;
width: 200px;
background-color: rgb(70, 141, 191);
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
}

.upload {
position: absolute;
}

#upload-photo {
opacity: 0;
position: absolute;
z-index: -1;
}

.btn {
font-size: 18px;
transition: color 0.5s, transform 0.2s, background-color 0.2s;
border-radius: 3px;
width: 200px;
height: 40px;
margin: 0 10px;
background-color: rgb(70, 141, 191);
cursor: pointer;
border: 3px solid transparent;
position: relative;
}

.btn-cancel {
margin-right: 15px;
}

.btn:active {
transform: translateY(3px)
}

.btn::before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1;
background-color: rgba(255, 255, 255, 0.1);
transition: all 0.3s;
}

.btn:hover::before {
opacity: 0;
transform: scale(0.5, 0.5);
}

.btn::after {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1;
opacity: 0;
transition: all 0.3s;
border: 1px solid rgba(255, 255, 255, 0.5);
transform: scale(1.2, 1.2);
}

.btn:hover::after {
opacity: 1;
transform: scale(1, 1);
}