form {
  margin: 25px auto;
  padding: 30px;
  border: 2px solid #385d8a;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

body {
  margin: 50px auto;
  text-align: center;
  width: 800px;
}

label {
  width: 120px;
  display: inline-block;
  text-align: left;
  font-size: 16px;
  margin-right: auto;
  padding: 9px;
}

input {
  border: 1px solid #385d8a;
  font-size: 17px;
  font-weight: 1;
  font-family: "Times New Roman", Times, serif;
  padding: 6px;
  width: 200px;
  background-color: #e1eaf4;
  
}

div {
  margin: 10px;
}

.validate {
  width: 200px;
  color: #ff3c33;
  text-align: left;
  margin-left: 320px;
}

.borrow {
  width: 150px;
  height: 45px;
  padding: 5px 10px;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 1;
  background: #4f81bd;
  border: 1px solid #385d8a;
  margin-top: 100px;
  border-radius: 8px;
  cursor: pointer;
  
}

.time {
  width: 200px;
  padding: 5px 10px;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 1;
  border: 1px solid #385d8a;
  margin-top: 10px;
}

.combobox {
  width: 215px;
  padding: 8px;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 1;
  background-color: #e1eaf4;
  border: 1px solid #385d8a;
  cursor: pointer;
  
}


.count {
  text-align: left;
}

table {
  width: 100%;
  text-align: left;
  margin: 20px;
  font-weight: 100;

}

.pay {
  width: 100px;
  font-size: 16px;
  background: #0099ff;
}
.group-date i {
  padding: 9px;
  border: 1px solid #385d8a;
  background-color: #e1eaf4;
  margin-right: -6px;
  cursor: pointer;
}

th {
  width: 100px;
}

.group-date input {
  border: 1px solid #385d8a;
  font-size: 16px;
  font-weight: 1;
  padding: 8px;
  width: 197px;
  background-color: #e1eaf4;
}
.val {
  margin: 0;
}


.custombackHome {
  margin: 10px 5px;
  border-radius: 5px;
  background-color: #4f81bd;
  position: absolute;
  top: 3px;
  left: 3px;
  border: #0099ff;
}

.custombackHome > a {
  display: flex;
  padding-bottom: 3px;
  color:white !important;
  
}

.custombackHome > a > p {
  padding-top: 3px;
  padding-left: 7px;
  padding-right: 6px;
}